.title,
.content-list-title {
    font-family: "Archivo Black", sans-serif;
    text-align: center;
    font-size: 4rem;
}
.subtitle {
    text-align: center;
    font-size: 2rem;
}
.content-list {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
    margin-top: 6rem;
}
.project-link {
    display: block;
    width: 100%;
}
.project-link img {
    width: 100%;
    height: auto;
}
.content-list-title {
    font-size: 2rem;
    position: fixed;
    top: 0;
    width: calc(100% - 2rem - var(--column-white-space));
    padding-block: 2rem 1rem;
    background: var(--pamphlet-color);
}
.column-content > .mobile-navigation {
    display: none;
}
