html {
    font-size: 16px;
}
:root {
    --card-size-adjust-percentage: 10;
    --fold-angle: 35deg;
    --card-aspect-ratio: 9/16;
    --amount-of-columns: 6;
    --transition-duration: 1.5s;
    --column-white-space: 2rem;
    --red-marker-position: -3rem;
    --green-marker-position: -3rem;
    --pamphlet-color: blanchedalmond;
    --pamphlet-cover-color: #504136;
    --pamphlet-corner-shadow: #d6c6ad;
    --display-shadows: "block";
}
body {
    background-color: whitesmoke;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 100vh;
    overflow: hidden;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
        Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
        sans-serif;
    font-size: large;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
